body {
  background: linear-gradient(#1f1c2c, #928dab);
  min-height: 100vh;
  color: white;
}
.alfie {
  text-align: center;
  font-size: large;
}
#slider {
  width: 200vw;
  min-height: 80vh;
}
.link-to-alfie {
  border: 0.01rem solid rgb(175, 175, 175);
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  color: floralwhite;
  padding: 3px;
  border-radius: 20%;
}
.link-to-alfie:hover,
.link-to-alfie:active {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: orange;
}
.mc {
  width: 100vw;
  min-height: 80vh;
  float: left;
  display: flex;
  flex-direction: column;
}
.lib {
  width: 100vw;
  float: left;
}
.slide- {
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}
.slide {
  transform: translateX(-14%);
  transition: all 0.5s ease-in-out;
}
.slide2 {
  transform: translateX(-20%);
  transition: all 0.5s ease-in-out;
}

@media (max-width: 913px) {
  .slide {
    transform: translateX(-38%);
    transition: all 0.5s ease-in-out;
  }
  .slide2 {
    transform: translateX(-20%);
    transition: all 0.5s ease-in-out;
  }
}
@media (max-width: 650px) {
  .slide .mc {
    transform: translateX(-45%);
    transition: all 0.5s ease-in-out;
  }
  .mc {
    height: 76vh;
  }
}
@media (min-width: 913px) {
  button.btn:hover,
  .fa:hover {
    color: darkgrey !important;
  }
}
