.card-img {
  height: 270px;
  max-width: 270px;
  border-radius: 50% !important;
  margin: auto;
}
.btn.pp {
  margin-left: 10% !important;
  margin-right: 10% !important;
  border-radius: 50%;
}

.btn:focus {
  box-shadow: none !important;
}

.btn:active {
  color: white !important;
}
.drop-down {
  position: relative;
}
.volume-dropdown {
  display: none;
  position: absolute;
  transform: translateX(-30%);
}
.drop-down:hover .volume-dropdown {
  display: block;
}
.card {
  background: rgba(255, 255, 255, 0.1) !important;
  border: none !important;
}
.fa {
  color: white !important;
}
.timestamp {
  font-family: sans-serif;
  font-size: 0.8rem;
}
.fa {
  font-size: 1.2rem !important;
}
.green- {
  color: lightgreen !important;
}
.grey- {
  color: rgb(204, 204, 204) !important;
}
.loop {
  font-weight: lighter;
}
.drop-down {
  margin-left: 6% !important;
  margin-right: 1% !important;
}
